.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.Footer {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
  font-family: "Helvetica Neue", sans-serif;
  font-style: italic;
}

.Footer a, .Footer a:link, .Footer a:visited {
  color: white;
  text-decoration: none;
  transition: all .2s ease-out;
}

.Footer a:hover {
  transform: scale(1.2);
}