.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.swal2-container {
  font-family: "Helvetica Neue", sans-serif;
}

.Footer {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.webLink {
  font-weight: 400;
  animation: pulsate 1.5s infinite;
}

.Footer a, .Footer a:link, .Footer a:visited {
  color: white;
  text-decoration: none;
  transition: all .2s ease-out;
  font-size: 1rem;
}

.Footer a:hover {
  transform: scale(1.2);
}

.titleImage {
  height: auto;
  width: 400px;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .Footer a, .Footer a:link, .Footer a:visited {
    font-size: .7rem;
  }

  .titleImage {
    height: auto;
    width: 200px;
  }
}